**/*.bak
**/*.egg-info/
**/*.iml
**/*.lock
**/*.log
**/*.pyc
**/*.pyo
**/*.swo
**/*.swp
**/.DS_Store
**/._*
**/.coverage
**/.eggs/
**/.git/
**/.gradle/
**/.idea/
**/.ipynb_checkpoints/
**/.mvn/
**/.mypy_cache/
**/.obsidian/
**/.omc/
**/.playwright-cli/
**/.playwright-mcp/
**/.pytest_cache/
**/.ruff_cache/
**/.tox/
**/.vscode/
**/.xmake/
**/HELP.md
**/__pycache__/
**/auto-imports.d.ts
**/build-*-Debug/
**/build-*-Release/
**/build/
**/cmake-build-*/
**/components.d.ts
**/dist/
**/go.sum
**/gradle/
**/gradlew
**/gradlew.bat
**/mvnw
**/mvnw.cmd
**/node_modules/
**/nohup.out
**/out/
**/package-lock.json
**/pnpm-*.yaml
**/target/
**/venv/
**/yarn-*.log

/.agents/__data__/
